@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: #ffffff;
  --foreground: #171717;
  --default: minmax(18rem, 20rem) 1fr;
  --profile: max-content 1fr max-content;
  --form: minmax(7.5rem, 17.5rem) minmax(25rem, 1fr) minmax(0, 15rem);
  box-sizing: border-box !important;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme inline {
  @keyframes fadeUp {
    from {
      opacity: 0;
    }
    to: {
      opacity: 1;
    }
  }
  @keyframes fadeDown {
    from {
      transform: translateY(-2px);
      opacity: 0;
    }
    to: {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  --animate-fade-up: fadeUp 400ms;
  --animate-fade-down: fadeDown 400ms ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0.1px);
  }
}

.CollapsableContent[data-state="open"] {
  animation: fadeIn 400ms ease-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ffffff;
    --light-violet: #fcfaff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  cursor: pointer !important;
}

div,
section {
  outline: none;
}
.news-bell circle{
  fill:rgba(255,0,0,1)
}
.dark .news-bell circle{
  fill:rgba(255,50,50,1)
}
